<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config />

    <!-- invoke default look and feel (jide) -->
    <!-- needs to go first !! -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass"><value>com.jidesoft.plaf.LookAndFeelFactory</value></property>
        <property name="targetMethod"><value>installDefaultLookAndFeelAndExtension</value></property>
    </bean>

    <!-- holds general preferenes -->
    <bean id="Preferences" class="com.vitco.util.Preferences" init-method="load">
        <property name="storageFile" value="settings/pref.ser"/>
    </bean>

    <!-- create the language selector (localization) -->
    <bean id="LangSelector" class="com.vitco.util.LangSelector">
        <!-- set language bundle -->
        <property name="languageBundle" value="resource/bundle/LangBundle"/>
        <!-- select language and country -->
        <property name="language" value="en"/>
        <property name="country" value="US"/>
    </bean>

    <!-- create ActionManager -->
    <!-- this allows to register and execute action -->
    <bean id="ActionManager" class="com.vitco.action.ActionManager"/>

    <!-- create ShortcutManager -->
    <!-- allow registering the windows with the shortcuts -->
    <bean id="ShortcutManager" class="com.vitco.shortcut.ShortcutManager">
        <property name="langSelector" ref="LangSelector"/>
        <property name="configFile" value="com/vitco/logic/shortcuts.xml"/>
        <property name="actionManager" ref="ActionManager"/>
        <property name="preferences" ref="Preferences"/>
    </bean>

    <!--handles displaying of shortcut manager-->
    <bean id="ShortcutManagerView" class="com.vitco.shortcut.ShortcutManagerView">
        <property name="langSelector" ref="LangSelector"/>
        <property name="shortcutManager" ref="ShortcutManager"/>
        <property name="actionManager" ref="ActionManager"/>
        <property name="preferences" ref="Preferences"/>
    </bean>

    <!-- create MenuGenerator -->
    <!-- handles the menu generation (from xml) -->
    <bean id="MenuGenerator" class="com.vitco.util.MenuGenerator">
        <property name="langSelector" ref="LangSelector"/>
        <property name="actionManager" ref="ActionManager"/>
    </bean>

    <!-- creates the main window -->
    <bean id="WindowManager" class="com.vitco.layout.WindowManager">
        <constructor-arg value="PS4k - Alpha Version"/>
        <property name="preferences" ref="Preferences"/>
        <!-- shortcut manager -->
        <property name="shortcutManager" ref="ShortcutManager"/>
        <!-- set the linkage map (bars) -->
        <property name="barLinkageMap">
            <map>
                <entry>
                    <key><value>mainMenu</value></key>
                    <bean id="MainMenuLinkage" class="com.vitco.layout.bars.MainMenuLinkage"/>
                </entry>
                <entry>
                    <key><value>toolBar</value></key>
                    <bean id="ToolBarLinkage" class="com.vitco.layout.bars.ToolBarLinkage"/>
                </entry>
            </map>
        </property>
        <!-- set the linkage map (frames) -->
        <property name="frameLinkageMap">
            <map>
                <entry>
                    <key><value>console</value></key>
                    <bean id="ConsoleLinkage" class="com.vitco.layout.frames.ConsoleLinkage"/>
                </entry>
                <entry>
                    <key><value>mainView</value></key>
                    <bean id="MainViewLinkage" class="com.vitco.layout.frames.MainViewLinkage"/>
                </entry>
                <entry>
                    <key><value>shortcutManager</value></key>
                    <bean id="ShortcutManagerLinkage" class="com.vitco.layout.frames.ShortcutManagerLinkage">
                        <property name="shortcutManagerView" ref="ShortcutManagerView"/>
                    </bean>
                </entry>
                <entry>
                    <key><value>sideView</value></key>
                    <bean id="SideViewLinkage" class="com.vitco.layout.frames.SideViewLinkage"/>
                </entry>
                <entry>
                    <key><value>timeLine</value></key>
                    <bean id="TimeLineLinkage" class="com.vitco.layout.frames.TimeLineLinkage"/>
                </entry>
                <entry>
                    <key><value>personal</value></key>
                    <bean id="PersonalLinkage" class="com.vitco.layout.frames.PersonalLinkage"/>
                </entry>
            </map>
        </property>
    </bean>

</beans>